<divclass="container">
    <navclass="navbarnavbar-expand-lgnavbar-light ">
        <ulclass="navnavbar-nav float-left"routerLinkActive="active">
            <liclass="nav-item"><imgclass="ima"src="http://clipart-library.com/data_images/206118.jpg"
                    alt="image"><aclass="btn"routerLink="/">myPortFolio</a></li>
        </ul>
        <ulclass="navnavbar-nav "style="margin-left: 70%"routerLinkActive="active">
            <liclass="nav-item"><aclass=" btn"routerLink="/signin"style="margin: 5px;">Sign In</a></li>
            <liclass="nav-item"><aclass="btn"routerLink="/signup"style="margin: 5px">Sign Up</a></li>
        </ul>
    </nav>
    <divclass="container">
        <router-outlet></router-outlet>
    </div>
</div>
