<h1>KITCHEN STORY</h1>
<h1> Order Details </h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of products | async" class="container-fluid">
        <tr>
            <td>ketchup</td>
            <td>120</td>
            <td>pure</td>
            Enter No. of Products: <input #n type="number" name="n"><br>
            <button (click)=tprice(p.price,n.valueAsNumber)>Click here to finalise Booking</button>
        </tr>
    </tbody>
</table>

    