#c1{
    text-align: center;
    background-color: beige;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
