<h1>KITCHEN STORY</h1>
<p>user works!</p>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>User Login</h2>
                <form [formGroup]="uloginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter Username:</label>
                        <input type="text" placeholder="Username" [(ngModel)]="user.username" formControlName="uname" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['uname'].errors}">

                        <div *ngIf="submitted && f['uname'].errors" class="invalid-feedback">
                            <div *ngIf="f['uname'].errors['required']" style="color: red;">
                                Username Required
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Enter Password:</label>
                        <input type="password" placeholder="Password" [(ngModel)]="user.password" formControlName="password" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['password'].errors}">

                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']" style="color: red;">
                                Password Required
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="a==false">
    <h3>Invalid Credentials! Please try again</h3>
</div>